<!DOCTYPE html>
<html>

<head>
    <title>Cuochi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<div><a href="/static"><img src="/images/logo_siwFood.jpg" width="50%" /></a></div>
<h1>Cuochi</h1>
<div th:if="${cuochi==null || cuochi.isEmpty()}">Non ci sono cuochi nel sistema</div>
<ul>
    <li th:each="cuoco : ${cuochi}">
        <a th:href="@{'/cuoco' + '/' + ${cuoco.id}}" th:text="${cuoco.name} + ' ' + ${cuoco.surname}  ">Up!
            (2000)</a>
    </li>
</ul>
</body>

</html>