<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
</div>
	<div><img src="/images/logo_siwFood.png" width="70%" /></div>
	<h1>Accedi o registrati</h1>
	<div>
		<a th:href="@{/login}">Login</a> / <a th:href="@{/register}">Registrati</a>
	</div>
	<h1>Consulta i cuochi registrati</h1>
	<div>
		<a href="/indexCuoco">Operazioni su cuochi</a>
	</div>
	<h1>Consulta le ricette</h1>
	<div>
		<a href="/indexRicetta">Operazioni su ricette</a>
	</div>

</body>

</html>