<form action="/register" method="post">
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="surname">Cognome:</label>
        <input type="text" id="surname" name="surname" required>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="dateOfBirth">Data di nascita:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" required>
    </div>
    <button type="submit">Registrati</button>
</form>
