<!DOCTYPE html>
<html>

<head>
  <title>Ricette</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<div><a href="/static"><img src="/images/logo_siwFood.png" width="50%" /></a></div>
<h1>Ricette</h1>
<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
<ul>
  <li th:each="ricetta : ${ricette}">
    <a th:href="@{'/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.name} + ' by ' + ${ricetta.cuoco.surname}">Up!
      (2000)</a>
  </li>
</ul>
</body>

</html>